<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='autopsy.svg') }}">

    {% block title %}
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='autopsy.css') }}">
  </head>

  <body>
        <nav class="navbar navbar-dark bg-dark ">
          <div class="container-fluid">
            <div class="d-flex col-2">
              <a class="navbar-brand navbar-brand-link" href="/">
                <img alt="Autopsy" class="logo" src="{{ url_for('static', filename='autopsy.svg') }}">
                Autopsy
              </a>
            </div>
            <div class="d-flex col-1 align-items-center justify-content-end menuprofile">
              <h5 class="align-center">{{ current_user.user_name }}</h5>
              <a href="{{ url_for('profile') }}">
                <img src="{{ url_for('static', filename="ava/"+current_user.user_image) }}">
              </a>
            </div>
          </div>
        </nav>


     {% block top_layer %}
     {% endblock top_layer %}


    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script src="{{ url_for('static', filename='autopsy.js') }}"/></script>
  </body>
</html>

