.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Dashboard
*/
.dashboard ul {
   list-style-type: none;
}


/*
 * Sidebar
*/

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-sticky {
  position: sticky;
  height: calc(100vh - 12px);
  overflow-x: hidden;
  overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
}

/*
 * Navbar
*/

.navbar {
  border-bottom: 0.25rem solid #8a2be2;
}

.navbar-brand {
  padding-bottom: .75rem;
  font-weight: 700;
}

.navbar .form-control {
  font-size: 0.75rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .15);
}

.btn-outline-autopsy {
  color: #fff;
  background-color: #8a2be2;
}

.btn-outline-autopsy:hover{
  border: 0.05rem solid #8a2be2;
  color: #fff;
}

/*
 * Logo
*/

.logo {
  with: 100%;
  height: 2rem;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

.logo-link {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.form-signin {
  width: 100%;
  padding: 1rem;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
  font-size: 0.8rem;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 1.25rem;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menuprofile {
  color: #fff;
}

.menuprofile img{
 width: 35%;
 vertical-align: middle;
 border-radius: 50%;
 border: 0.15rem solid #d2d2;
}

.userava {
 width: 35%;
 vertical-align: middle;
 border-radius: 50%;
 border: 0.15rem solid #d2d2;
}

.ava {
 width: 20%;
 vertical-align: middle;
 border-radius: 50%;
 border: 0.1rem solid #d2d2;
 margin-left: 1rem;
}

.ava-clicked {
 width: 20%;
 vertical-align: middle;
 border-radius: 50%;
 border: 0.5rem solid #8a2be2;
 margin-left: 1rem;
}

.small-ava {
 width: 5%;
 vertical-align: bottom;
 border-radius: 50%;
 border: 1px solid #d2d2;
}

/*
 * Mortem
*/
.add-mortem-content {
  height: 15rem;
}

.add-mortem-resolution {
  font-weight: 600;
}

.mortem-tab {
  background-color: #ebebec;
  border-right: 1px solid #c5c5c5;
  padding: 0.75rem 1.75rem;
}

.mortem-tab-focus {
  padding: 0.75rem 1.75rem;
  background-color: #fff;
}

.mortem-tab a {
  text-decoration: none;
  font-weight: 700;
  color: #666;
}

.mortem-tab-focus a {
  text-decoration: none;
  font-weight: 700;
  color: #666;
}

.mortem-tab a:hover {
  border-bottom: 1px solid #d2d2;
  text-decoration: none;
  color: #8a2be2;
}

.mortem-body {
  background-color: #fff;
  height: calc(100vh - 12px);
}

.mortem a {
  text-decoration: none;
  font-weight: 700;
  color: #666;
}

.mortem:hover {
  background-color: #fff;
  color: #000;
  border-radius: 2rem;
}

.mortem a:hover {
  border-bottom: 1px solid #d2d2;
  text-decoration: none;
  color: #8a2be2;
}

.impact-minor {
  font-weight: 900;
  color: Green;
}

.impact-significant {
  font-weight: 900;
  color: DarkOrange;
}

.impact-critical {
  font-weight: 900;
  color: Tomato;
}

.mortem-tag span:hover {
  font-weight: 900;
  color: DodgerBlue;
}

