apiVersion: v1
kind: Secret
metadata:
  name: flask
type: Opaque
# Don't forget to convert to base64
stringData:
  .env: |-
  FLASK_APP: main.py
  FLASK_ENV: production
  FLASK_SECRET: session_secret
  DATABASE_HOST: master.ep4sh.lc
  DATABASE_USER: flask
  DATABASE_PASSWORD: flask
  DATABASE_NAME: flask
  MAIL_SERVER: smtp.example.com
  MAIL_PORT: 465
  MAIL_USE_SSL: True
  MAIL_USERNAME: noreply@example.com
  MAIL_PASSWORD: superpassword
