{% extends "base/middle_layer.html" %}

{% block title %}
  <title>Autopsy: Postmortems</title>
{% endblock title %}

{% block content_top %}
    <div class="flex-row d-flex">
      <div class="mortem-tab-focus">
        <a href="{{ url_for('postmortems')  }}">Postmortems</a>
      </div>
      <div class="mortem-tab">
        <a href="{{ url_for('add_postmortem')  }}">New
          <span data-feather="plus-square"></span>
        </a>
      </div>
    </div>
{% endblock content_top %}

{% block content_body %}
    <div class="flex-row">
        {% for mortem in mortems.items %}
          <div class="mortem m-2 p-3">
            <h5>
              <img class="small-ava" src="{{ url_for('static', filename="ava/"+mortem.author.user_image) }}">
              <a href="mailto:{{ mortem.author.user_email }}?subject=Mail from Autopsy regarding {{ mortem.mortem_url }}">{{ mortem.author.user_name }}</a>
            </h5>
            <h3>
              <a href="postmortems/{{ mortem.mortem_url }}">{{ mortem.mortem_name | truncate(60, True) }}</a>
            </h3>
            <p>
            <small>Created: {{ mortem.mortem_created }} </small>
            </p>
            <p>
              <small>Last updated: {{ mortem.mortem_created }}</small>
            </p>
          </div>
        {% endfor %}


        <!-- Pagination Links-->
		<div class="text-right">
			<a href="{{ url_for('postmortems', page=mortems.prev_num) }}"
			  class="btn btn-outline-dark
			  {% if mortems.page == 1 %}disabled{% endif %}">
				&laquo;
			</a><!-- Loop through the number of pages to display a link for each-->
			{% for page_num in mortems.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
		<!-- Check for the active page and set the link to "Active"-->
					{% if mortems.page == page_num %}
					<a href="{{ url_for('postmortems', page=page_num) }}"
					  class="btn btn-dark">
						{{ page_num }}
					</a>
					{% else %}
					<a href="{{ url_for('postmortems', page=page_num) }}"
					  class="btn btn-outline-dark">
						{{ page_num }}
					</a>
					{% endif %}
				{% else %}
					...
				{% endif %}
            {% endfor %}
              <a href="{{ url_for('postmortems', page=mortems.next_num) }}"
			  class="btn btn-outline-dark {% if mortems.page == mortems.pages %}disabled{% endif %}">
				&raquo;
			</a>
		</div>
		<p class="text-right mt-3">
		  Showing page {{ mortems.page }} of {{ mortems.pages }}
		</p>
    </div>
{% endblock content_body %}

