{% extends "base_register.html" %}

{% block title %}
    <title>Autopsy: Sign Up</title>
{% endblock title %}


{% block form %}
        <form class="form-signin" action="" method="POST">
          {{ form.hidden_tag() }}
          <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

          <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
              {{ form.username(class="form-control form-control-md is-invalid") }}
              <div class="invalid-feedback">
                {% for err in form.username.errors %}
                  <span>
                    {{ err }}
                  </span>
                {% endfor%}
              </div>
            {% else %}
              {{ form.username(class="form-control form-control-md") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-md is-invalid") }}
              <div class="invalid-feedback">
                {% for err in form.password.errors %}
                  <span>
                    {{ err }}
                  </span>
                {% endfor%}
              </div>
            {% else %}
              {{ form.password(class="form-control form-control-md") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
              {{ form.confirm_password(class="form-control form-control-md is-invalid") }}
              <div class="invalid-feedback">
                {% for err in form.confirm_password.errors %}
                  <span>
                    {{ err }}
                  </span>
                {% endfor%}
              </div>
            {% else %}
              {{ form.confirm_password(class="form-control form-control-md") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-outline-dark btn-block") }}
          </div>

          <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
          <div class="border-top">
            <small>
             Already have a login?
              <div>
                <a class="ml-2" href="{{ url_for('login') }}"> Sign In </a>
              </div>
            </small>
          </div>
        </form>
{% endblock form %}

