{% extends "base/base_register.html" %}

{% block title %}
    <title>Autopsy: Reset a password</title>
{% endblock title %}

{% block aaa_form %}
        <form class="form-signin" action="" method="POST">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-md is-invalid") }}
              <div class="invalid-feedback">
                {% for err in form.email.errors %}
                  <span>
                    {{ error }}
                  </span>
                {% endfor%}
              </div>
            {% else %}
              {{ form.email(class="form-control form-control-md") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-outline-dark btn-block") }}
          </div>

          <p class="mt-5 mb-3 text-muted">&copy; 2017-{{ now.strftime("%Y") }}</p>
          <div class="border-top">
            <small>
              <div>
                <a class="ml-2" href="{{ url_for('login') }}"> Sign In </a>
              </div>
            </small>
          </div>
        </form>
{% endblock aaa_form %}

