{% extends "base/middle_layer.html" %}

{% block title %}
  <title>Autopsy: Search</title>
{% endblock title %}

{% block content_top %}
    <div class="flex-row d-flex">
        <form class="d-flex col-8 mx-5 px-5" action="" method="POST">
          <input class="form-control col-1" type="text" name="search_query" placeholder="Type to search" aria-label="Search">
          <button class="btn form-control btn-outline-autopsy" name="search" type="submit">Search</button>
        </form>
      </div>
    </div>
{% endblock content_top %}


{% block content_body %}
  {% if mortems %}
        <div>
          <!-- Pagination Links-->
          <div class="text-right">
              <a href="{{ url_for('search', page=mortems.prev_num, query=query) }}"
                class="btn btn-outline-dark
                {% if mortems.page == 1 %}disabled{% endif %}">
                  &laquo;
              </a><!-- Loop through the number of pages to display a link for each-->
              {% for page_num in mortems.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}{% if page_num %}
          <!-- Check for the active page and set the link to "Active"-->
                      {% if mortems.page == page_num %}
                      <a href="{{ url_for('search', page=page_num, query=query) }}"
                        class="btn btn-dark">
                          {{ page_num }}
                      </a>
                      {% else %}
                      <a href="{{ url_for('search', page=page_num, query=query) }}"
                        class="btn btn-outline-dark">
                          {{ page_num }}
                      </a>
                      {% endif %}
                  {% else %}
                      ...
                  {% endif %}
              {% endfor %}
                <a href="{{ url_for('search', page=mortems.next_num, query=query) }}"
                class="btn btn-outline-dark {% if mortems.page == mortems.pages %}disabled{% endif %}">
                  &raquo;
              </a>
          </div>
          <p class="text-right mt-3">
            Showing page {{ mortems.page }} of {{ mortems.pages }}
          </p>
		</div>
    <div class="flex-row">
        {% for mortem in mortems.items %}
          <div class="mortem m-2 p-3">
            <h5>
              <img class="small-ava" src="{{ url_for('static', filename="ava/"+mortem.author.user_image) }}">
              <a href="mailto:{{ mortem.author.user_email }}?subject=Mail from Autopsy regarding {{ mortem.mortem_url }}">{{ mortem.author.user_name }}</a>
            </h5>
            <h3>
              <a href="postmortems/{{ mortem.mortem_url }}">{{ mortem.mortem_name | truncate(60, True) }}</a>
            </h3>
            <p>
            <small>Created: {{ mortem.mortem_created }} </small>
            </p>
            <p>
              <small>Last updated: {{ mortem.mortem_created }}</small>
            </p>
          </div>
        {% endfor %}

    </div>
    </div>
  {% endif %}
{% endblock content_body %}

